# Basic Analysis

## Import Libraries

In [1]:
# Custom imports
from statisco.statistics import closingReturns, mean, variance, stdDev

# Foreing Libraries
import yfinance as yf
import numpy as np

In [2]:
msft = yf.download("MSFT", period="1mo")

[*********************100%%**********************]  1 of 1 completed

In [3]:
msft.head(5)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-11-07,359.399994,362.459991,357.630005,360.529999,359.799744,25833900
2023-11-08,361.679993,363.869995,360.549988,363.200012,362.464325,26767800
2023-11-09,362.299988,364.790009,360.359985,360.690002,359.959412,24847300
2023-11-10,361.489990,370.100006,361.070007,369.670013,368.921234,28042100
2023-11-13,368.220001,368.470001,365.899994,366.679993,365.937256,19986500

### Close Returns

In [4]:
msft["MyCloseReturns"] = closingReturns(msft["Adj Close"])

In [5]:
msft["CloseReturns"] = msft["Adj Close"].pct_change()

In [6]:
print(msft.head())

                  Open        High         Low       Close   Adj Close  \
Date
2023-11-07  359.399994  362.459991  357.630005  360.529999  359.799744
2023-11-08  361.679993  363.869995  360.549988  363.200012  362.464325
2023-11-09  362.299988  364.790009  360.359985  360.690002  359.959412
2023-11-10  361.489990  370.100006  361.070007  369.670013  368.921234
2023-11-13  368.220001  368.470001  365.899994  366.679993  365.937256

              Volume  MyCloseReturns  CloseReturns
Date
2023-11-07  25833900        0.000000           NaN
2023-11-08  26767800        0.007406      0.007406
2023-11-09  24847300       -0.006911     -0.006911
2023-11-10  28042100        0.024897      0.024897
2023-11-13  19986500       -0.008088     -0.008088

In [7]:
msft.head()

,Open,High,Low,Close,Adj Close,Volume,MyCloseReturns,CloseReturns
Date,,,,,,,,
2023-11-07,359.399994,362.459991,357.630005,360.529999,359.799744,25833900,0.000000,NaN
2023-11-08,361.679993,363.869995,360.549988,363.200012,362.464325,26767800,0.007406,0.007406
2023-11-09,362.299988,364.790009,360.359985,360.690002,359.959412,24847300,-0.006911,-0.006911
2023-11-10,361.489990,370.100006,361.070007,369.670013,368.921234,28042100,0.024897,0.024897
2023-11-13,368.220001,368.470001,365.899994,366.679993,365.937256,19986500,-0.008088,-0.008088

### Mean

In [8]:
defaultMean = msft["MyCloseReturns"].mean()
myMean = mean(msft["MyCloseReturns"])

print(f"default pandas mean: {defaultMean}")
print(f"myMean: {myMean}")

default pandas mean: 0.0017218963839700705
myMean: 0.0017218963839700705

### Variance

In [9]:
defaultVariance = np.var(msft["MyCloseReturns"])
myVariance = variance(msft["MyCloseReturns"], myMean)

print(f"default numpy variance: {defaultVariance}")
print(f"myMean: {myVariance}")

default numpy variance: 0.00013265013710857986
myMean: 0.00013265013710857991

### Std Dev

In [11]:
defaultStandardDeviation = msft["MyCloseReturns"].std()
myStandardDeviation = stdDev(msft["MyCloseReturns"], myMean)

print(f"default numpy std dev: {defaultStandardDeviation}")
print(f"myStandardDeviation: {myStandardDeviation}")

default numpy std dev: 0.011801806809298687
myStandardDeviation: 0.011517384126119086